[Unit]
Description=UniFi OS Server initialization
Before=unifi.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/root/uos-init.sh
RemainAfterExit=yes

[Install]
WantedBy=basic.target
